<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Netrunning</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
<!--     <script src="/client.js" type="text/javascript" defer></script> -->
<!--      <script src="/client.js" defer></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  </head>
  <body>
    <h1 id="title">About Netrunning</h1>
    passwords can't be numeric
    drag text box to make bigger
    cloak is 2 times map length
    <p>
      Commands
    </p>
    <ul class="userText"> 
      <li> Move down</li>
      <li> Move up</li>
    </ul>
    
  <a href="/create">Create a Netspace</a>
     <a href="/?example">Try an example Netspace</a>
  </body>
</html>


